<p-dialog [header]="componentName" styleClass="component-info-screen" [(visible)]="isShow" [modal]="true" 
    (onHide)="closeScreen()" [maximizable]="true"> 
    <div>
        <p-panel header="Info">
            <div class="info-section"> 
                <div class="info-cell" *ngFor="let detail of textDetails"> 
                    <span class="info-label">{{detail.label}}</span>
                    <span class="info-value">{{detail.value}}</span>
               </div>
            </div>
        </p-panel>

        <p-panel header="Link">
            <div class="link-info" *ngFor="let detail of linkDetails">
                <div class="link-cell">
                    <span class="link-label">{{detail.label}}</span>
                    <a class="link-value"> 
                        <span>{{detail.value}}</span>
                    </a>
                </div>

            </div>
        </p-panel>

       <p-panel header="Contact Email" styleClass="email-panel">
           <div class="email-info"> 
            <div class="email-cell" *ngFor="let detail of emailDetails"> 
                <span class="email-label">{{detail.label}}</span>
                <span class="email-value">{{detail.value}}</span>
            </div>
            <div class="operation-button">  
                <button type="button" pButton class="ui-button-secondary" icon="pi pi-check" label="Send Email"> </button>
            </div>
           </div>
        
       </p-panel>

       <p-panel styleClass="commit-panel" header="Latest Commit Message">
           <div class="commit-section">
               <div class="commit-cell">
                   <span class="commit-message">Fix bug</span>
                   <div class="commit-info">
                        <span class="commit-id">ff2efb</span>
                       <span>sunrun93 committed 30 minutes ago</span>
                   </div>
               </div>
               <div class="commit-cell">
                <span class="commit-message">add contact dialog</span>
                <div class="commit-info">
                     <span class="commit-id">gg2985</span>
                    <span>suresh committed 35 minutes ago</span>
                </div>
            </div>
            <div class="commit-cell">
                <span class="commit-message">style refact</span>
                <div class="commit-info">
                     <span class="commit-id">0408601</span>
                    <span>mike committed 36 minutes ago</span>
                </div>
            </div>
            <div class="commit-cell">
                <span class="commit-message">add calendar</span>
                <div class="commit-info">
                     <span class="commit-id">3bc0aa2</span>
                    <span>sam committed 40 minutes ago</span>
                </div>
            </div>
           </div> 
       </p-panel>
    </div>
</p-dialog>