.component-info-screen {
    width: 50vw;
    .p-dialog-header {
        background-color: #1f2a3a;
        border: 1px solid #1f2a3a;
        color: #fff;
        height: 35px;
        padding-left: 1em;
        padding-right: 1em;

        .p-dialog-title {
            font-size: 1.2em;
            font-weight: normal;
            margin-left: 5px;
        }
        .p-dialog-header-icons {
            color: #fff;

            &:hover {
                color: #e8e8e8;
            }

            .p-dialog-header-icon {
                color: white;
            }
        }
    }

    .p-dialog-content {
        padding: 1em;
        background-color: #2a394f;
        .link-info {
            margin-bottom: 1em;
        }
    }

    .p-panel .p-panel-header{
      background-color: #2a394f;
      color: #eee;
    }

    .p-toggleable-content{
      .p-panel-content{
        background-color: #2a394f;
        color: #eee;
      }
    }

    .p-card-body {
        background-color: #e8e8e8;
        padding: .5em 1em 1em 1em;
        margin-bottom: 1em;
        .p-card-title {
            font-weight: normal;
        }
    }

    .info-section {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;

        .info-cell {
            display: flex;
            align-items: center;
            flex: 1;
            min-width: 300px;
            margin-bottom: .5em;
            .info-label {
                width: 130px;
            }
            .info-value {
                width: fit-content;
            }
        }
    }

    .link-info {
        .link-cell {
            display: flex;
            font-size: 14px;
            .link-label {
                width: 130px;
                margin-right: .2em;
            }
            .link-value {
                color: #eee;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .email-info {
        display: flex;
        justify-content: space-between;
        .email-cell {
            display: flex;
            font-size: 12px;
            line-height: 30px;
            .email-label {
                min-width: 110px;
            }
        }
    }

    .p-button {
        padding: 0.3rem .5rem;
    }

    .commit-section {
        display: flex;
        flex-direction: column;
        .commit-cell {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            .commit-info {
                .commit-id {
                    color: #2196f3;
                    margin-right: 5px;
                }
            }
        }
    }

    .p-panel {
        .p-panel-content {
            margin-bottom: 1em;
        }
        &.commit-panel {
            .p-panel-content {
                margin-bottom: 0;
            }
        }
    }
}
